<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-1</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div id="App-nadpis">

        <!--If over and over showing and hiding, I would use probably v-show like v-if-->
        <div v-show="show_book">
            
            <ul>
                <li v-for="book in books" :class="{ fav: book.isFav }" @click="book.isFav = !book.isFav">
                    <h1> {{ book.title_book }}</h1>
                    <p>{{ book.author }}</p>
                    <p>{{ book.created }}</p>
                    <img :src="book.img" :alt="book.title_book">
                    
                    
                    
                    <!--<button v-on:click="book.created++">Increase age of created</button>
                    <button @click="book.created--">Decrease age of created</button>

                    <button @click="changeTitle()">Change title book</button>-->
                </li>
            </ul>


            
        </div>
    
        <button @click="hide_show_book()">
            <span v-if="show_book">Hide book</span>
            <span v-else>Show book</span>
        </button>


        <div v-show="show_book">Actually is book showing.</div>

        <div class="box" @mouseover="currentEvents($event)" >MouseOver</div>
        <div class="box" @mouseleave="currentEvents($event)" >MouseLeave</div>
        <div class="box" @dblclick="currentEvents($event, 5)" >MouseDb</div>
        <div class="box" @mousemove="moveEventPosition($event)" >MouseMove - {{ pos_x }} {{ pos_y }}</div>

    </div>

    <script src="app.js"></script>
</body>
</html>